body{
    background-color: #89c882;
}

*{
    font-family: 'PFStardust', cursive;
}

h1{
    font-weight: bold;
    font-size: 40px;
}

p{
    font-size: 16px;
    line-height: 160%;
}

img{
    width:fit-content;
}